@page
@model TwitchAPI.CurrentViewersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentViewers</title>
</head>
<body>
    Mixer: @Model.Mixer.CurrentFollowerCount
</body>
</html>
